<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}"/>
</head>
<body>
    <div class = "main">
        <div class = "loginform">
            <form th:action="@{/login}" method="post">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" /> <br /><br>
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" /> <br /><br>
                <input type="submit" value="Log in" />
                <a href="/signup">Register</a>
            </form>
        </div>
    </div>
</body>
</html>